{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "camelcase": "off",
    "no-await-in-loop": "off",
    "no-constant-condition": "off",
    "no-unmodified-loop-condition": "off",
    "no-unsafe-optional-chaining": "off",
    "unicorn/consistent-function-scoping": "off"
  }
}
